body {
    background-color: pink;
}

.navbar navbar-dark  bg-dark navbar-expand-lg {
    background-color: aqua;
}

/* for fonts */
h1 {
    font-family: "montserrat", sans-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: "montserrat", sans-serif;
    
}

label {
    font-family: "montserrat", sans-serif;
    font-size: medium;
    font-weight: bold;
}

textarea {
    font-family: "montserrat", sans-serif;
    font-style: italic;
}

select {
    font-family: "montserrat", sans-serif;
}

a {
    font-family: "montserrat", sans-serif;
}

/* for map */
.map-container-3{
    overflow:hidden;
    padding-bottom: 55%;
    position:relative;
    height:0;
  }
  .map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  
  /* footer */

  .footer {
    padding: 20px;
    
  }

  .am {
    color: #ffffff8c;
  }

  .sm {
    text-align: end;
    
  }
  